@import '~@angular/material/theming';

.card {
  margin-bottom: 16px;

  .content {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-gap: 16px;
  }

  .avatar {
    overflow: hidden;
    border-radius: 4px;
    width: 100%;
  }

  .mat-card-header-text {
    margin: 0;
  }

  .mat-card-actions {
    margin: 24px 0 0 0;
  }

  .mat-card-content {
    margin: 0 16px;
  }

  a {
    color: mat-color($mat-blue-grey, 500);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .info {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      margin-right: 1em;
      display: inline-block;

      a {
        color: mat-color($mat-grey, 600);
      }

    }

    .star {
      display: inline-block;
      vertical-align: middle;
      margin: -4px 3px 0 0;
      opacity: .6;
    }
  }
}

.text-center {
  text-align: center;
}

.mat-paginator {
  background: none;

  .mat-paginator-page-size {
    display: none;
  }
}

