:host {
  position: relative;
  margin-bottom: 40px;
  display: block;

  .label {
    display: block;
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    top: -3px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;

    .req {
      margin: 2px;
      color: #1ab188;
    }

  }

  .errors {
    position: absolute;
    top: 100%;
    right: 0;
    color: tomato;
    display: none;
    flex-direction: column;
    font-size: 14px;
    padding-top: 8px;

    > *:not(:first-child) {
      display: none;
    }
  }

  input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;

    &.ng-invalid.active:not(.ng-pristine) {
      border-color: tomato !important;

      ~ .errors {
        display: flex;
      }
    }

    &:focus {
      outline: 0;
      border-color: #1ab188;
    }

    &.active,
    &:focus {
      + .label {
        transform: translateY(50px);
        left: 2px;
        font-size: 14px;
        color: #ffffff;
      }
    }
  }

  textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
  }


}
