<div class="hotel-list-main">
  <div class="hero-picture">
    <img [src]="currentHotel?.img" [alt]="currentHotel?.address" class="img-responsive">
  </div>
  <div>
    <div class="links-list">
      <ul>
        <li><a href="#">Hotel</a></li>
        <li><a href="#">Fishing</a></li>
        <li><a href="#">Tours</a></li>
        <li><a href="#">Weather</a></li>
      </ul>
    </div>
    <section class="content">
      <h3>Righteous indignation & like</h3>
      <div class="w-line"> </div>
      <div class="activity_box">
        <div class="scroll-box">
          <div class="activity-item" *ngFor="let hotel of list" (click)="select(hotel)">
            <div class="activity-item-description">
              <h5>Resort</h5>
              <p>{{hotel.address}}</p>
              <h6>Tel: <a href="tel:{{hotel.phone}}">{{hotel.phone | mask: '+000-000-00-00'}}</a></h6>
            </div>
            <ul class="activity-images">
              <li><img [src]="hotel.img" [alt]="hotel.address"/></li>
              <li><img [src]="hotel.social_info.img" [alt]="hotel.address"/></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
